</head>
<body>
<nav>
  <ul>
    <li>
      <a href="/">Add user</a>
    </li>
    <li><a href="/users">User list</a></li>
    <form action="/users/delete-all-users" method="POST">
      <button>Delete all users</button>
    </form>
  </ul>
</nav>
