</head>
<body>
<nav>
  <ul>
    <li>
      <a href="/form">Add user</a>
    </li>
    <li><a href="/users">User list</a></li>
    <li><a href="/users/delete-all-users">Delete all users</a></li>
  </ul>
</nav>
