<%- include('includes/head.ejs') %>

<title>User list</title>

<%- include('includes/navigation.ejs') %>

<h1>List of registered users</h1>
<ol>
  <li>{name}</li>
</ol>

<%- include('includes/end.ejs') %>
